body{margin:0 auto;padding:0 auto;}


.header {
    border-top: none;
    float: left;
    width: 100%;
    margin-top: -16px;
    padding: 0px;
    margin-bottom: -16px;
	    border-color: #e7e7e7;
		
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 34em;
	
	 background:linear-gradient(0deg,rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../image/intro-bg.jpg);
  
}


.list li {
    display: inline;
}



.list{
	float:left;
	width:100%;    padding: 0;
	text-align:center;
	text-transform:uppercase;
	margin-top: 40px;
}
.list li a {
    display:inline;
    text-decoration: none;color:white;
}
.list li a:hover {
    color: red;
}


.sub-head {
    float: left;
    width: 100%;
   
}
.herosection{
	float:left;
	width:100%;margin:none;
	
}
.hero1 {
    float: left;
    width: 100%;
    text-align: center;
    height: 6em;
    padding-top: 22px;
    font-family: 'Rochester', cursive;
    font-size: 57px;
    color: white;
}
.hero2 {
    float: left;
    width: 100%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;color: white;
}
.special{
	float: left;
    width: 100%;
	    padding-top: 46px;
}
.sp1{
	float: left;
    width: 100%;
}
.sp1 h1 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 83px;
    padding-bottom: 16px;color: #333;
}
.sp2{
	float: left;
    width: 100%;padding-top:61px;
}
.sub-sp2{
	float:none;
	width:100%;
	max-width:90%;
	margin:0 auto;
}
.sp2 h3{
	font-family:'Raleway', sans-serif;
	text-align: center;
    font-size: 21px;
    color: #333333;	}
.sp2 p{
	font-family:'Open Sans', sans-serif;
	text-align:center;
	width: 85%;
    padding-left: 33px;
    font-size: 14px;    color: #777777;
}
.ssp21{
	float:left;
	width:33.3%;
}
.ssp21 img {
    margin: 30px 0px 20px;
    width: 90%;
    padding-left: 27px;
}
.ssp22{
	float:left;
	width:33.3%;
}
.ssp22 img {
    margin: 30px 0px 20px;
    width: 90%;
	padding-left: 27px;
}
.ssp23{
	float:right;
	width:33.3%;
}
.ssp23 img {
    margin: 30px 0px 20px;
    width: 90%;
	padding-left: 27px;
}
.about {
    float: left;
    width: 100%;
    margin-top: 110px;
    margin-bottom: 5em;
}
.suba1{
	float:left;
	width:50%;
}
.suba1 img {
    width: 99%;
    height: 24em;
}
.suba2{
	float:right;
	width: 50%;
   
}
.ssa1 {
    font-family: 'Raleway', sans-serif;
        padding-left: 74px;color: #333;
}
.ssa2 {
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    font-size: 14px;
    width: 42%;
    padding-top: 25px;
	padding-left: 78px;
	    color: #777777;
	
}
.menu{
	float:left;
	width:100%;
}
.smenu{
	float:left;
	width:100%;
	font-family: 'Open Sans', sans-serif;
	text-align:center;
	text-transform: uppercase;
    margin-top: 5em;
	color: #333;
}
.mdish1{
	float:left;
	width:100%;
}
.mdishsub {
    float: none;
    width: 100%;
    padding-left: 113px;
    max-width: 90%;
    margin: 0 auto;
    padding-top: 63px;
}
.sdish1{
	float:left;
	width:50%;
}
.subhead1 {
    float: right;
    width: 100%;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 18px;
	
}
.subhead1 h1 {
    padding-left: 81px ;   color: #444444;
}

.subchild1{
	float:left;	
	width:100%;
}
.s-sub {
    padding-top: 22px;
}
.ssd11{
	float:left;	
	width:100%;
}
.ssd12{
	float:left;	
	width:100%;
}
.ssd13{
	float:left;	
	width:100%;
}
.ssd14{
	float:left;	
	width:100%;
}

.disp1 {
    float: left;
    width: 100%;
}
.dname {
    float: left;
    width: 50%;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;    color: #444444;
}
.dprice {
    float: right;
    width: 50%;text-align: center;    color: #444444;
}
.ddescription {
    float: left;
    width: 50%;
    text-align: left;
    font-size: 14px;font-family:'Open Sans', sans-serif;
	    color: #777777
		
		;
}
.sdish2{
	float:right;
	width:50%;
}
.subhead1{
	float:right;
	width:100%;
}
.subchild1{
	float:right;	
	width:100%;
}
.ssd11{
	float:left;	
	width:100%;
}
.ssd12{
	float:left;	
	width:100%;
}
.ssd13{
	float:left;	
	width:100%;
}
.ssd14{
	float:left;	
	width:100%;
}

.disp1 {
    float: left;
    width: 100%;
}
.dname {
    float: left;
    width: 50%;
}
.dprice {
    float: right;
    width: 50%;
}
.ddescription{
	float:left;	
	width:50%;
}
.mdish2{
	float:left;
	width:100%;
}
.mpic{
	float:left;
	width:100%;
}
.spic {
    padding-top: 105px;
}
.img1{
	float:left;
	width:25%;
}
.img1 img {
    
    width: 100%;
	
}
.img2{
	float:left;
	width:25%;
}
.img2 img {
    
    width: 100%;
	
}
.img3{
	float:left;
	width:25%;
}
.img3 img {
    
    width: 100%;
	
}
.img4{
	float:right;
	width:25%;
}
.img4 img {
    
    width: 100%;
	
}
.chef{
	float:left;
	width:100%;    
	margin-top: 100px;
	margin-bottom: 76px;
}

.subc1{
	float:left;
	width:50%;
}
.subc2 img {
    width: 93%;
    height: 23em;
}
.subc2{
	float:right;
	width: 50%;
   
}
.ssc1 {
    font-family: 'Raleway', sans-serif;
	
        padding-left: 92px;
		color: #333;
}
.ssc2 {
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    font-size: 14px;
    width: 58%;
    padding-top: 61px;
	padding-left: 93px;    color: #77777;
	
}

.contact {
    float: left;
    width: 100%;
    padding-top: 112px;;
    text-align: center;
	background-color: #333;
}
.subcon{
	float:left;
	width: 100%;
}

.con1{
	float:left;
	width: 33.3%;
}
.reserv {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
	
	color: #aaa;
}
.reserv1 {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
	color: #777;
}






.subcon1{
	float:left;
	width: 100%;
	padding-top: 98px;
}
.send{
	float:left;
	width: 100%;
	font-size: 20px;
    font-family: 'Raleway', sans-serif;
	color: #aaa;
}
.hrc {
    width: 45px;
    background-color: red;
    height: 2px;
    border: none;
}
.meet {
    margin-right: 380px;
    background-color: red;
    height: 2px;
    border: none;
}
.spl {
    margin: 0px 498px;
    background-color: red;
    border: none;
    height: 2px;
}
.spl1 {
    margin: 0px 508px;
    background-color: red;
    border: none;
    height: 2px;
}
.menu1 {
    margin: 0px 207px;
    background-color: red;
    height: 2px;
    border: none;
}
.menu2 {
    margin-left: 138px;
    margin-right: 277px;
    background-color: red;
    height: 2px;
    border: none;
}
.menu3 {
    margin-left: 97px;
    margin-right: 323px;
    background-color: red;
    height: 2px;
    border: none;
}
.menu4 {
    margin-left: 116px;
    margin-right: 300px;
    background-color: red;
    height: 2px;
    border: none;
}

.detail{
	float:left;
	width: 100%;
    text-align: center;
    
}

.subdit{
	
	float:left;
	width: 100%;
}

.form1 {
    padding: 5em;color: #ccc;
}
.input1 {
    width: 21em;
    height: 25px;
    color: #ccc;
    background-color: rgba(255,255,255,.2);
    border: 0;
}

.textarea {
    width: 42em;
    height: 5em;
    margin-top: 18px;
    color: #ccc;
    background-color: rgba(255,255,255,.2);
    border: 0;

}
.button:hover {
    background: red;
}
.button {
    margin-top: 32px;
    width: 163px;
    height: 3em;
    color: #aaa;
    border: 2px solid #aaa;
	    background-color: #333;
}

   li{
	   display:inline;padding-left: 20px;
   } 
 
.footer{
	float:left;
	width: 100%;background: black;
}
.foot1 {
    float: left;
    width: 50%;
    color: #777;
    text-align: center;
    padding-top: 21px;    font-size: 15px;font-family: 'Open Sans', sans-serif;
}
.foot1 a {
    color: #777777;
}
.foot1 a:hover {
    color: white;
}
.foot2{
	float:right;
	width: 50%;text-align: center;
	font-size: 19px;    padding-top: 21px
	
}
.foot2 a {
    color: #777777;
}
.foot2 a:hover {
    color: white;

.overall {
    width: 99.4%;
}
